<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="header">
    <a class="navbar-brand" href="#">Bike-Configurator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/login">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/seltat/bike-configurator">Github</a>
            </li>
        </ul>
        <span class="navbar-text m-1" th:if="${fName != null && lName !=null}">
            <o th:text="'Eingeloggt als ' + ${fName} + ' ' + ${lName} + ' (' + ${customerId} + ')'"/>
        </span>
        <form id="logoutForm" action="/logout" method="get" th:if="${fName != null && lName !=null}">
            <input type="submit" class="btn btn-danger" value="Ausloggen">
        </form>
    </div>
</nav>
</body>
</html>